@import "../../index.scss";

#heroSection {
  background-image: url("../../assets/hero4.png");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0%;
  background-size: cover;
  padding: 0 80px;
  @include flexAlignStart(column);

  > h4 {
    padding-bottom: 15px;
  }

  > h1 {
    color: $secondary;
  }

  > button {
    background-image: url("../../assets/button.png");
    background-color: transparent;
    border: none;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;

    > a {
      color: $secondary;
      text-decoration: none;
    }
  }
}

// media query
@media only screen and (max-width: 799px) {
  #heroSection {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
}

@media only screen and (max-width: 477px) {
  #heroSection{
    padding: 0 20px;
    background-position: 55%;
  }
}
