@import "../../index.scss";

.button3 {
  background-color: $secondary;
  padding: 15px 30px;
  font-size: 18px;
  border: 2px solid $white;
  color: $white;
  display: grid;
  place-items: center;
  transition: 0.5s;
  cursor: pointer;
}
