@import "../../index.scss";

.searchBar {
  width: 70%;
  height: 3vmax;
  background-color: $white;
  @include flex(center, row, 0);

  > input {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    padding: 1vmax 2vmax;
    font-size: 1vmax;
  }

  > button {
    border: none;
    outline: none;
    width: 20%;
    height: 100%;
    background-color: $primary;
    color: $white;
    display: grid;
    place-items: center;
    font-size: 1vmax;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $primary-fade;
    }

    > svg {
      font-size: 1.5vmax;
    }
  }
}
