@import "../../index.scss";

#feature {
  @include flex(space-between, row, 0);
  flex-wrap: wrap;

  .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid $tertiary;
    border-radius: 4px;
    margin: 15px 0;

    &:hover {
      box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    }

    > img {
      width: 100%;
      margin-bottom: 10px;
    }

    > h6 {
      display: inline-block;
      padding: 9px 8px 6px 8px;
      line-height: 1;
      border-radius: 4px;
      color: $secondary;
    }
  }
}

@media only screen and (max-width: 799px) {
  #feature {
    justify-content: center;

    .fe-box {
      margin: 15px;
    }
  }
}

@media only screen and (max-width: 477px) {
  #feature {
    justify-content: space-between;

    .fe-box {
      width: 155px;
      margin: 0 0 15px 0;
    }
  }
}
